<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <h1>Eat Da Burger!</h1>
                <h2>Da Sequel</h2>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Add a Burger</h2>
                <form class="create-form">

                    <div class="form-group">
                        <label for="burger">Burger Name:</label>
                        <input type="text" id="burger" name="name">
                        <label for="chef">Chef Name:</label>
                        <input type="text" id="chef" name="name">
                        <p>OR</p>
                        <label for="chefSelect">Select a Chef:</label>
                        <select class="custom-select" id="chefSelect">
                        </select>
                    </div>

                    <button type="submit">Add Burger</button>
                </form>
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <h2>Burgers to devour!</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{id}}.
                {{burger_name}}
                Made by {{Chef.chef_name}}
                <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
                    Devour It!
                </button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col">
        <img src="/assets/img/burger.png" id="burger_img" alt="burger" width="75%">
    </div>

    <div class="col">
        <h2>Burgers devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{id}}.
                {{burger_name}}
                Made by {{Chef.chef_name}}
                <img src="/assets/img/x.png" class="delete" alt="delete" width="20px" data-id="{{id}}">
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">

</div>